<%= form_with(model: maquina) do |form| %>
  <% if maquina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maquina.errors.count, "error") %> prohibited this maquina from being saved:</h2>

      <ul>
        <% maquina.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.number_field :Maquina_id ,class:"form-control", placeholder:"Maquina ID" %>
  <br/>

    <%= form.text_field :NombreMaquina ,class:"form-control", placeholder:"Nombre de la maquina"  %>
  <br/>

    <%= form.text_field :CostoHora ,class:"form-control", placeholder:"Costo por Hora" %>
  </div><br/>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
