<p id="notice"><%= notice %></p>

<p>
  <strong>Tipooperario:</strong>
  <%= @operario.TipoOperario %>
</p>

<p>
  <strong>Costohora:</strong>
  <%= @operario.CostoHora %>
</p>

<%= link_to 'Edit', edit_operario_path(@operario), class:"btn btn-dark" %> 
<%= link_to 'Back', operarios_path, class:"btn btn-dark" %>
