<%= form_with(model: recetum) do |form| %>
  <% if recetum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recetum.errors.count, "error") %> prohibited this recetum from being saved:</h2>

      <ul>
        <% recetum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.number_field :Id_receta, class:"form-control", placeholder:"ID Producto" %>
    <br/>

    <%= form.select :Proceso_id, Proceso.pluck(:Nombre ,:Id_proceso) %>
    <br/><br/>

    <%= form.select :producto_id, Producto.pluck(:CodProd) %>
  </div><br/>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
