<%= form_with(model: proceso) do |form| %>
  <% if proceso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proceso.errors.count, "error") %> prohibited this proceso from being saved:</h2>

      <ul>
        <% proceso.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.number_field :Id_proceso, class:"form-control", placeholder:"ID del proceso" %>
  <br/>

    <%= form.text_field :Nombre, class:"form-control", placeholder:"Nombre de la maquina" %>
  <br/>

    <%= form.number_field :Q_Operarios, class:"form-control", placeholder:"Cantidad de Operarios" %>
  <br/>

    <%= form.number_field :Q_Ayudantes, class:"form-control", placeholder:"Cantidad de Ayudantes" %>
  <br/>

  <!-- Con esta mas manual si fucniona
  <div class="form-control">
    <%= form.label :Maquina_id %>
    <%= form.number_field :Maquina_id %>
  </div-->
    <%= form.select :Maquina_id, Maquina.pluck(:NombreMaquina ,:Maquina_id), class:"from-control" %>
  </div><br/>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
