<p id="notice"><%= notice %></p>

<h1>Procesos</h1>

<table class="table table-stripped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Id proceso</th>
      <th>Nombre</th>
      <th>Q operarios</th>
      <th>Q ayudantes</th>
      <th>Maquina_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @procesos.each do |proceso| %>
      <tr>
        <td><%= proceso.Id_proceso %></td>
        <td><%= proceso.Nombre %></td>
        <td><%= proceso.Q_Operarios %></td>
        <td><%= proceso.Q_Ayudantes %></td>
        <td><%= proceso.Maquina_id %></td>
        <td><%= link_to 'Show', proceso %></td>
        <td><%= link_to 'Edit', edit_proceso_path(proceso) %></td>
        <td><%= link_to 'Destroy', proceso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proceso', new_proceso_path, class:"btn btn-dark" %>
