<%= form_with(model: producto) do |form| %>
  <% if producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
        <% producto.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.number_field :producto_id, class:"form-control", placeholder:"ID Producto" %>
  <br/>

    <%= form.text_field :CodProd, class:"form-control", placeholder:"Codigo del producto" %>
  <br/>

    <%= form.text_field :CostoMatPrima, class:"form-control", placeholder:"Costo de la Materia prima" %>
  <br/>

    <%= form.text_field :Nombre, class:"form-control", placeholder:"Nombre del producto" %>
  <br/>

    <%= form.text_field :Detalle, class:"form-control", placeholder:"Detalle" %>
  </div><br/>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
